<%= render 'layouts/scenario_card',
  title: 'Timeout Page',
  description: "You can specify a custom timeout value in seconds by adding ?time=1 at the end of the url.
                  <br/><br/><b>Like this example below</b><br/>
                  <a class='white-text' href=#{@example_url}>#{@example_url}</a>".html_safe %>
