<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <div class="container">
          <h4 class="header center orange-text"><a href="/" class="brand-logo">Mimiq</a></h4>
        </div>
      </div>
    </nav>
  </div>
</header>
