<div class="row">
  <div class="container-fluid">
    <br/><h3 class="center orange-text"><%= title %></h3>
    <p class="center"><%= link_to 'Go home', root_path %></p>
    <div class="col l6 offset-l3 m8 offset-m1 center">
      <div class="container-fluid card blue z-depth-2">
        <div class="cover z-depth-1">
          <div class="col l12 m10 offset-m1">
            <div class="filter blue">
              <div class="card-content white-text">
                <p class="card-title">Don't forget</p>
                <p class=""><a href="/">Home</a></p>
              </div>
              <div class="card-content white-text">
                <p>
                  <%= description %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
